



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
   display: flex;
   padding: .8rem 5rem;
   background-color: #ffd103;
}
.navbar img{
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
}
.navbar h1{
  font-size: 1.5rem;
}
.navbar p{
  font-size: .6rem;
  position: relative;
  top: 1.8rem;
  right: 6.3rem;
}
.navbar ul{
  list-style: none;
  display: flex;
  gap: 1rem;
  position: relative;
  top: .6rem;
  left: 27rem;
}
.navbar ul li a{
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.navbar ul li a:hover{
  background: #000;
  padding: .4rem .6rem .6rem .6rem;

  color: #ffd103;
  border-radius: .4rem;
  font-weight: bolder;
}
.navbar ul li a:active{
  color: #ccc;
  background: #00000067;
  transition:.1s ease;
}
.search{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12rem;
  background-image: url(/public/searchBG.jpg);
}
.search input{
  padding: .8rem 1.5rem;
  font-size: 1.5rem;
  font-weight: bolder;
  border: none;
  outline: none;
  border-radius: 1rem 0 0 1rem;
} 
.search button{
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bolder;
  background: #ffd103;
  border-radius: 0 1rem 1rem 0;
  border: none;
  outline: none;
  transition: all .2s ease-in ;
}
.search input::placeholder{
  color: #ccc;
}
.search button:hover{
  color:  #000;
  background: #e0b801;
}
.search button:active{
  transition: all .1s ease-in-out;
  color: #ffd103;
  background: #000;
}
.explore{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}
.explore img{
  height: 20rem;
  object-fit: cover;
  width: 17rem;
  border-radius: .8rem;
}
.explore p{
  position: relative;
  bottom: 2.6rem;
  left: 7rem;
  font-weight: bolder;
  color: white;
}
.title{
  position: relative;
  top: 2rem;
  text-align: center;
  padding: 2rem;
  color: #000;
  font-weight: bolder;
}
.footer{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffd103;
  color: #000 ;
  justify-content: center;
}
.icon{
  display: flex;
  gap: 1.3rem;
  margin: .6rem;
}
.food-menu {
  display: flex;
  background-color: #ddd;
  justify-content: space-between;
  flex-wrap: wrap ;
}

.food-card {
  margin: .6rem;
  width: 45%;
  background-color: #f7f7f7;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: .8rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.food-card img {
  width: 100%;
  height: 9.37rem;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.food-card h2 {
  font-size: 1.1rem;
  font-weight: bolder;
  margin-bottom: .8rem;
}

.food-card p {
  font-size: 14px;
  margin-bottom:1.3rem;
}

.food-card button {
  background-color: #ffd103;
  color: #000;
  font-weight: bolder;
  padding: 10px 20px;
  border: none;
  transition: all .25s ease;
  border-radius: 5px;
  cursor: pointer;
}

.food-card button:active {
  background-color: #e0b801;
  transition: all .13s ease-in-out;
}
.food-card button:hover{
  background: #000;
  color: #ffd103;
}
